html {
  width: 100%;
  height: 100%;
  margin: 0;

}


body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.background-image{
  min-height: 100%;
  background-size: cover;
  background-image: url("../Pictures/ball-baseball-black-and-white-773063.jpg")
}


ul {
    list-style-type: none;
    margin: 0%;
    padding-left: 20%;
    overflow: hidden;
    background-color: none;
    width: 60;
    position: relative;

}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

li a: active{
    color: #C8102E;
}

li a:hover {
    color: #C8102E;
    text-decoration: overline;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.text1{
  color: white;
  padding-left: 30%;
  padding-top: 15%;
  font-family: "Bad Script";font-size: 60px;
}




.footer{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .2rem;
  background-color: black;
  opacity: .6;
  text-align: center;
}

.socialcontainer a{
  color: white;

}
.who1{
  color: white;
  font-family: "Bad Script";font-size: 50px;
  text-align: center;
  padding-top: 3rem;
}

.description1{
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
}


.portfolio1{
  font-family:  "Bad Script";font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 3rem;
}

.description2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
}

.github2{
  text-align: center;
  font-size: 25px;
}

.burls{
  float: left;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;

}

.logo{
  width: 400px;
  height:250px;
  text-align: center;
}

.typeform-widget{
  font-family: Sans-Serif;
  font-size: 12px;
  color: #999;
  opacity: 0.5;
  padding-top: 5px;
}
