html {
  width: 100%;
  height: 100%;
  margin: 0;

}


body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.background-image{
  min-height: 100%;
  background-size: cover;
  background-image: url("../Pictures/ball-baseball-black-and-white-773063.jpg")
}


ul {
    list-style-type: none;
    margin: 0%;
    padding-left: 25%;
    overflow: hidden;
    background-color: none;
    width: 100%;
    position: relative;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

li a: active{
    color: #C8102E;
}

li a:hover {
    color: #C8102E;
    text-decoration: overline bold;
    transition: ease-in-out, 500ms;
}

.text1{
  color: white;
  padding-left: 30%;
  padding-top: 15%;
  font-family: "Bad Script";font-size: 60px;
}




.footer{
  font-family: "Monosterrat";font-size: 20px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .2rem;
  background-color: black;
  opacity: .6;
  text-align: center;
}

.twitter{
  size: 2x;
}

.insta{
  size: 2x;
}

.github{
  size: 4x;
}
